body {
  background: #ffd460;
}

.container-main {
  font-family: rubik;
  background: #ffd460;
  /* box-shadow: -1px 2px 43px 32px rgba(193, 117, 49, 0.3); */
}
.temp {
  font-family: rubik;
  font-size: 40px;
  display: block;
  color: #2d4059;
}
.city {
  display: block;
  font-family: rubik;
  font-size: 40px;
}
.weather {
  display: block;
  color: #f07b3f;
  font-size: 20 px;
}

.detailedForecast {
  color: #2d4059;
  font-size: 12px;
  font-family: rubik;
}
#wind-indicator {
  color: #f07b3f;
}
#humidity-percentages {
  color: #f07b3f;
}
.dailyForecast {
  color: #2d4059;
}
.emoji {
  font-size: 22px;
}
#see-temperature {
  display: block;
  text-align: center;
}
#city-name {
  display: block;
  text-align: center;
  color: #f07b3f;
  /* padding-left: 20px; */
}
#current-time {
  color: #2d4059;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 0px;
  font-family: rubik;
}
#weather-description {
  color: #f07b3f;
  font-size: 14px;
  text-transform: capitalize;
  padding-left: 20px;
  font-family: rubik;
}
