.container-main {
  font-family: rubik;
  background: #ffd460;
}
.temp {
  font-family: rubik;
  font-size: 40px;
  display: block;
  color: #2d4059;
}
.city {
  display: block;
  font-family: rubik;
  font-size: 40px;
  color: #ea5455;
}
.weather {
  display: block;
  color: #f07b3f;
  font-size: 20 px;
}

.detailedForecast {
  color: #2d4059;
  font-size: 12px;
  padding: 10px;
  font-family: rubik;
}
.wind-indicator {
  color: #d2647e;
}
.dailyForecast {
  color: #2d4059;
}
.emoji {
  font-size: 22px;
}
#see-temperature {
  display: block;
  text-align: center;
}
#city-name {
  display: block;
  padding-left: 20px;
}
#current-time {
  color: #2d4059;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 0px;
  font-family: rubik;
}
#weather-description {
  color: #d2647e;
  font-size: 14px;
  text-transform: capitalize;
  padding-left: 20px;
  font-family: rubik;
}
